$color-primary:			#009899; //turquoise
$color-secondary:		#993300; //burnt orange
$color-light:			#FFFFFF; //lightest color - white
$color-dark:			#000000; //darkest color - black

$color-grey-extra-extra-dark:	#222222; //top nav
$color-grey-extra-dark:	#2F2F2F; //top nav hover
$color-grey-dark:		#333333;
$color-grey-medium:		#c2c2c2;
$color-grey-light:		#e5e5e5; //border



$color-text:			#444444;